
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  border-top: 3px solid #f37804;
  background: linear-gradient(to bottom, #131a2c 0%, #091124 100%);
}

footer h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 80px;
  margin-left: 80px;
}

.footer-links {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.footer-links a {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Anek Gurmukhi", sans-serif;
  color: white;
  text-decoration: none;
  margin: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  
  footer h2 {
    margin: 0;
    margin-top: 10px; 
    margin-bottom: 10px; 
  }

  .footer-links {
    flex-direction: row;
    margin-top: 10px; 
  }

  .footer-links a {
    margin: 0 10px; 
  }
}
