.artist-top-div-container {
  margin-right: 40px;
  margin-left: 40px;
  background-color: #0b1b34;
  width: calc(100% - 80px);
  margin-top: 40px;
}

.artist-top-div-container h1{
    text-align: center;
    color: rgb(233, 242, 248);
    font-family: "Fira-code", sans-serif;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
}

.artist-top-div {
  display: flex;
}

.artist-img-div {
  color: rgb(233, 242, 248);
  margin: 0px 30px 30px 30px;
  width: 315px;
}

.artist-img-div img {
  width: 315px;
  height: 315px;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
  border-radius: 250px;
  background-color: rgb(233, 242, 248);
}

.artist-img-div p {
  text-align: center;
  color: #f37804;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  display: -webkit-box;
  font-weight: 600;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.artist-info-div {
  color: rgb(233, 242, 248);
  margin: 25px 15px 0 0;
  display: flex;
  height: auto;
  flex-direction: column;
  width: 100%;
}

.artist-info-genres-div {
  padding: 10px 5px 15px 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f37804;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.30) 100%);
}

.artist-info-genres-div p {
  text-align: center;
  margin-bottom: auto;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.info-section-artist-div{
  display: flex;
  justify-content: left;
}

.info-section-name {
  margin: 10px 20px;
  color: rgb(233, 242, 248);
  font-weight: 600;
  font-size: 21px;
}

.info-section-title {
  color: #f37804;
  font-weight: 500;
  font-size: 22px;
  margin: 9px 5px;
}

.artist-info-followers-div {
  padding: 15px 5px 25px 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f37804;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.30) 100%);
}

.artist-info-followers-div p {
  text-align: center;
  margin-bottom: auto;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.artist-info-popularity-div {
  padding: 15px 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f37804;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.30) 100%);
}

.artist-info-popularity-div p {
  text-align: center;
  margin-bottom: auto;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  margin-bottom: 10px;
}


  .separation-div-info {
    border-radius: 3px;
    border: 1px solid black;
    margin: auto 0px;
    height: 45px;
    width: 4px;
    background-color: #f37804;
  }
