.bg-div-home {
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  background-color: #090d19;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-home-div {
  width: 100%;
}

.time-period-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
  
}

.time-period-div button {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 22px;
  border: none;
  color: rgb(233, 242, 248);
  width: 100%;
  background-color: #090d19;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.time-period-div button:hover {
  background-color: #121a32;
}

input[type="text"]:focus {
  outline: 2px solid black;
  border: 1px solid transparent;
}

input[type="password"]:focus {
  outline: 2px solid black;
  border: 1px solid transparent;
}

input[type="email"]:focus {
  outline: 2px solid black;
  border: 1px solid transparent;
}

input[type="submit"]:hover {
  cursor: pointer;
}

button {
  cursor: pointer;
}
